<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>analylsis</title>
  <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
  <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="jqueryui/style.css">
</head>
 
<p>
  <label for="amount">Date Range</label>
  <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
</p>
 
<div id="slider-range"></div>

<button type="button" id="query">View Plot</button>

<div id="loading-div-background">
  <div id="loading-div" class="ui-corner-all" >
    <h3 style="color:gray;font-weight:normal;">Loading....</h3>
  </div>
</div>

<div id="container" style="width:200px; height:200px;"></div>

<script type="text/javascript">
      $("#loading-div-background").css({ opacity: 0.7 });
      var plot_range;
      $(function() {
      $( "#slider-range" ).slider({
        range: true,
        min: 1,
        max: 31,
        values: [ 1, 31 ],
        slide: function( event, ui ) {
          $( "#amount" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        }
      });
      $( "#amount" ).val($( "#slider-range" ).slider( "values", 0 ) +
        " - " + $( "#slider-range" ).slider( "values", 1 ) );
        plot_range = [$( "#slider-range" ).slider( "values", 0 ), $( "#slider-range" ).slider( "values", 1 )]
      });

    $("#loading-div-background").css({ opacity: 0.7 });
        function datetime_to_epoch(datetime)
        {
        var aDate = datetime.split('/');
        var epoch = new Date(aDate[2] + "," + aDate[0] + "," + aDate[1]).getTime() / 1000;
        return epoch;
        }

    $("#query").click(function() {  
        $("#loading-div-background").show();
        $("#container").hide();
        var qu = {"start":plot_range[0], "end":plot_range[1]};
        $.ajax({
        type: "POST",
        async:true,
        contentType: "application/json; charset=utf-8",
        url: "/query",
        data: JSON.stringify(qu),
        dataType: "html",
        success: function (data) {   
        $("#container").html(data);   
        $("#loading-div-background").hide(); 
        $("#container").show();
        },
        error: function (e) {
          console.log("error")
        }
        });
    });


</script>

</html>